{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    {% if message %}
        {{ message }}
    {% endif %}
    <div class="container contents">
        <div class="row">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-6 centered title">
                <h1>Movies</h1>
            </div>
            <div class="col-sm-3">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div id="REST-data" class="col-sm-12" ng-view></div>
        </div>

    </div>
{% endblock %}
{% block script %}

{% endblock %}